.feature_home{
    width:300px;
    height:200px;
    position:relative;
    display:block;
    background-position:center center;
    background-size:100%;
}
.feature_text{
    position:absolute;
    right:2px;
    bottom:15px;
}
.feature_button{
    width: 32px;
    float: center;
    background-color: rgb(255, 0, 0);
    border: 2px solid black;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
}
/* #canvas{

    background-image:url("images/te1zrah.gif");
    background-repeat:no-repeat;
    background-size:cover;
} */

#canvas{
	position: absolute;
    left: 0px;
    top: 0px;
    background-image:url("images/te1zrah.gif");
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

body{
    background-image: url("images/te1zrah.gif");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}